* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body, .html{
    width: 100%;
    height: auto;
    font-family: "Lato";
    margin: 0;
  }
  
  /*.allTheThingsIhate{ }*/

  /*---- main flexs ----*/
  /*.allTheThingsIhate{}*/
  
  .sidebar{
    display: flex;
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
    background-color:#DCD0C0;
    overflow: hidden;
    z-index: 1;
  }
  
  .main_map{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 80%;
    height: 100%;
    background-color: #DCD0C0;
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    width: 80%;
    height: 250px;
    background-color: #373737;
  }

  /*---- main flexs ----*/
  
  /*---- navigation bar ----*/
  .header-menu-content {
    margin-left: 3%;
    list-style: none;
    border-right: 1px solid grey;
  }
  
  .nav-sp{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2em;
    line-height: 1.5;
    color: #4d4e53;
    font-weight: 700;
  
  }

  .com-tem-nav{
    font-size:1.2em;
  }

  .nav-li{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    border-top: 1px solid grey;
  
  }

  .sub-nav-list{
    list-style: none;
    margin-left: 15%;
  }

  .nav-menu{
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.5;
    text-transform: capitalize;
    color:#4d4e53;
  }

  .nav-li:hover{
    background-color:#d8cbba;
    transition: 1;
  }

  .com-tem-nav{
    font-size:1.2em;
    padding-left: 25px;
  }
  
  /*---- navigation bar ----*/
  /*---- secret nav bar ----*/
  
  .dropbtn {
    background-color: #373737;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #373737;
  }
  
  .dropdown {
    display: none;
    position: relative;
    width: 100%;
  
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #DCD0C0;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #d8cbba;
}
  
  .show {
    display: block;
}

  /*----secret nav bar----*/
  /*---- fonts ----*/
  
  .main-title{
  font-size: 41px;
  line-height: 1.8;
  padding-left: 5%;
  text-transform: capitalize;
  color: #4d4e53;
  font-weight: 700;
  }
  
  .main-articles{
    line-height: 1.5;
    margin-left: 2%;
    font-size: 17px;
    font-weight: 400;
    color: #4d4e53;
    border: 1 solid yellow;
  }

  .sub-title{
    line-height: 2;
    color: #4d4e53;
    margin-left: 2.5%;
    font-weight: 600;
    font-size: 30px;
    text-transform:capitalize;
  }

  .under-sub-title{
    line-height: 3;
    color: #4d4e53;
    margin-left: 2.5%;
    font-weight: 600;
    font-size: 20px;
    text-transform:capitalize;
  }
  
  .history-list{
    line-height: 2.3em;
    margin-left: 2%;
    font-size: 17px;
    font-weight: 300;
    color: #4d4e53;
    border: 1 solid black;
  }

  .section-table{
    line-height: 27px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 17px;
    font-weight: 400;
    color: #4d4e53;
  }
  
  .footer, a{
    justify-content:space-between;
    text-decoration:none;
    line-height: 40px;
    padding-top: 2%;
    color: #d8cbba;
    font-weight: 600;
    font-size: 30px;
    text-transform:capitalize;
    text-align: center;
  }
  
  
  /*---- fonts ----*/
  /*---- img ----*/
  .myModal{
  display: flex;
  float: right;
  position: relative;
  margin-top:20px;
  
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}
  /* The Modal (background) */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image */

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation */
  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }

  @keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  /*---- img ----*/
  /*---- specials ----*/
  
  
  .history-list ul{
    margin-left: 40px;
  }
  
  .background_color{
  border:1px solid #E7DFDD;
  border-width: 15px 25px 20px 15px;
  background-color: #E7DFDD;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
  }
  
  .backgepic, .backgepicL{
    border:1px solid #E7DFDD;
    background-color: #E7DFDD;
    border-width: 15px 25px 20px 15px;
    margin-left: 25px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  
  }
  
  /*-----table-----*/
  .table-ele{
    padding-top: 25px;
  }
  
  .section-table{
    border: 1px solid black;
    border-collapse:separate;
  }
  
  th {
    padding: 6px;
    text-align: left;
    border:1px solid black;
  
  }
  td{
    padding: 2.5%;
    text-align: left;
    border:1px solid black;
  }
  
  .section-table-list{
    text-decoration: none;
    list-style-type:disc;
    line-height:1.5;
  }
  .sub-table{
    padding-left: 4%;
  }
  /*---table----*/
  .last-p{
    margin-bottom: 25px;
  }

/*
  .footer{}
  .references{}*/
  
  
  
  /*---- specials ----*/
  
  /*---- media quaries ----*/
  /* 100% Image Width on Smaller Screens */
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

    @media only screen and (max-width: 700px){
    
      .dropdown{
        display: inline-block;
        position: fixed;
        z-index: 2;
      }
      .sidebar{
        display: none;
      }
      .introduction{
        margin-top: 60px;
      }
  
      .main_map{
        margin:0;
        width: 100%
      }
  
      .footer{
        margin:0;
        width: 100%;
      }
  
      .main-title{
        text-align: center;
        padding: 0;
        margin: 0;
  
      }
      .sub-title{
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .under-sub-title{
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .story-map h1{
        align-self: center;
        padding:0;
        margin:0;
      }
      .main-articles{
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
  
      }
  
      .myModal{
        margin-top:15px;
  
      }
  }
  
  
