* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  width: 100%;
  height: auto;
  font-family: "Lato";
}
.grid1{
  background-color: :lightSkyBlue;
  grid-row:1/1;
  grid-area: header;

}
.grid2{
  background-color: lightsalmon;
  grid-row: 1/2;
  grid-area: content;

}
.grid3{
  background-color: lightpink;
  grid-row:2/2;
  grid-column:2/2;
  grid-area: footer;

}
.grid_master{
  display: grid;
  grid-template-rows: 20% 80%;
  grid-gap: 10px;
  grid-template-areas:
     "header content"
     "footer footer ";
}

.sidebar{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border:1px solid red;

}
.main_map{
  display: flex;
  flex-direction: column;
  border:1px solid green;

}

.header-menu-content {
  margin: 3%;
  list-style: none;
  border:1px solid red;
}
.nav-li{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid red;
}
.sub-nav-list{
  list-style: none;
  margin-left: 15%;
}
.nav-menu{
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.5;
  text-transform: capitalize;
}

.main-title{
  font-size: 3em;
  line-height: 1.5;
  padding-left: 5%;
  border: 1px solid red;
}

.main-articles{
  line-height: 1.5;
  padding-top: 3%;
  margin-left: 2%;
  font-size: 1.2em;
  border: 1 solid red;
}
.sub-title{
  line-height: 1.5;
  padding-top: 2%;
  font-size: 1.5em;
  text-transform: capitalize;

}
